POSTGRES_MLFLOW_USER=mlflow
POSTGRES_MLFLOW_PASSWORD=password
POSTGRES_PASSWORD=password
POSTGRES_MLFLOW_DB=mlflow
MINIO_ROOT_USER=root
MINIO_ROOT_PASSWORD=password
MINIO_MLFLOW_USER=mlflow
MINIO_MLFLOW_PASSWORD=password
MINIO_MLFLOW_ARTIFACTS_BUCKET=models
MINIO_CERT_PUBLIC_PATH=/path/minio-cert.crt
MINIO_CERT_PRIVATE_PATH=/path/minio-key.key
MINIO_CA_BUNDLE=/path/minio-ca-bundle.pem
NGINX_CERT_PUBLIC_PATH=/path/nginx-cert.crt
NGINX_CERT_PRIVATE_PATH=/path/nginx-key.key